<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ExerciseWebDevelopment</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ExerciseWebDevelopment</a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target=".navbar-collapse"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item" style="width: 80px;" >
							<div class="nav-link text-dark text-pointer" id="calculator">Calculator</div>
							<ul class="list-model" id="list-calculator">
								<li>
									<a asp-area="" asp-controller="Calculator" asp-action="UseModel">Calculator with model</a>
								</li>
								<li>
									<a asp-area="" asp-controller="Calculator" asp-action="UseArguments">Calculator with arguments</a>
								</li>
							</ul>
						</li>
						<li class="nav-item" style="width: 80px;" >
							<div class="nav-link text-dark text-pointer" id="student">Student</div>
							<ul class="list-model" id="list-mode-student">
								<li>
									<a asp-area="" asp-controller="Student" asp-action="UseModel">Student with model</a>
								</li>
								<li>
									<a asp-area="" asp-controller="Student" asp-action="UseArguments">Student with arguments</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Emp" asp-action="Index">Upload File</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Email" asp-action="Index">Send Email</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Layout" asp-action="Index">Layout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2020 - ExerciseWebDevelopment
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
	<script src="~/js/site.js"></script>
</body>
</html>
