@{
  Layout = "_LayoutAdmin";
}

<div class="text-center">
  <div class="card">
    <div class="card-header">
      THAY ĐỔI BANNER
    </div>
    <div class="card-body ">
      <h5>Chọn ảnh làm banner:</h5>
      @using (Html.BeginForm("Emp", "Layout", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <input type="file" name="files" /> <br />
        <input type="submit" asp-controller="Layout" asp-action="ChangeBanner" id="files" value="Thay đổi" />
      }
    </div>
  </div>
</div>
