@model ExerciseWebDevelopment.Models.EmailModel;

@{
  Layout = "_LayoutAdmin";
}

<div class="text-center">
  <div class="col-md-6 mx-auto py-4">
    <div class="card">
      <div class="card-header text-uppercase">
          <h4>Chức năng gửi email</h4>
      </div>
      <div class="card-body">
        @using (Html.BeginForm("Email", "Layout", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            <div class="form-group">
              <label asp-for="srcEmail" class="control-label"></label>
              <input asp-for="srcEmail" class="form-control" type="email" />
              <span asp-validation-for="srcEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Password" class="control-label"></label>
              <input asp-for="Password" class="form-control" type="password" />
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="desEmail" class="control-label"></label>
              <input asp-for="desEmail" class="form-control" type="email" />
              <span asp-validation-for="desEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="title" class="control-label"></label>
              <input asp-for="title" type="title" class="form-control" />
              <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="content" class="control-label"></label>
              <input asp-for="content" type="text" class="form-control text-area" />
              <span asp-validation-for="content" class="text-danger"></span>
            </div>
          <input type="submit" value="Gửi Email" style="margin-top: 10px;" />
        }
      </div>
    </div>
  </div>
</div>
